/*====================
    Custom body & btn
====================*/
html,
body{
    font-family: 'Lato','Open Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #fbfbfb;
    color: #323232;
}
section { padding: 30px 0px 50px}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button {
    -webkit-transition: all 0.2s ease-in-out
    -o-transition: all 0.2s ease-in-out
    transition: all 0.2s ease-in-out;
}
ul,
ol {
    list-style: none;
    padding: 0;
}

/* Typography*/
h1 {
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #323232;
    text-transform: uppercase;
}
h2 {
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
}
h3 {
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
}
.line-title:before {
    border-top: 3px solid #808080;
    content: "";
    display: block;
    position: absolute;
    left: 37%;
    margin-top: 20px;
    width: 50px;
}
.line-title:after {
    border-bottom: 3px solid #808080;
    content: "";
    display: block;
    position: absolute;
    right: 37%;
    margin-top: -20px;
    width: 50px;
}

/* Custom Class */
.head_title {
	padding-bottom: 30px;
}

.yellow-bg {
    background-color: #ffad2d;
}
.gray-bg {
    background-color: #fbfbfb;
}
.white-bg {
    background-color: #fff;
}
.orange-text { color: #fea60e }


.bg-overlay {
    backResponsiveground: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 0;
    left: 0;
}
.btn-orange {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 11px;
    padding: 7px 20px;
    background-color: #fea60f;
    color: #fff;
    text-transform: uppercase;
}
.btn-orange:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease-in-out 0s;
}
.btn-white {
	font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 18px;
    background-color: #ffffff;
    color: #666666;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.47);
    text-transform: uppercase;
}
.btn-white:hover {
	background-color: #000;
    color: #fff;
    transition: all 0.5s ease-in-out 0s;
}

/*====================
    Custom Navbar
====================*/
.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    z-index: 999999;
}
.nav-logo-wrap .logo img {
/*    padding-top: 10px;*/
	width: 40%;
}
.site-header #logo-dark,
.nav-logo-wrap .logo:after,
.nav-logo-wrap .logo:before {
	display: none
}
.main-nav.transparent #logo-white {
    display: block;
}
.logo {
    padding-top: 8px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.nav-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.toggle-btn {
    background-color: transparent;
    border: 0 none;
    padding: 0;
    outline: none;
}
.toggle-btn .icon-bar {
    background-color: #FFCB2F;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    width: 25px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.toggle-btn.active .icon-bar:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}
.toggle-btn.active .icon-bar:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.toggle-btn.active .icon-bar:nth-child(3) {
    top: -5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.toggle-btn .icon-bar:last-child {
    margin-bottom: 0;
}
.nav-toggle + .navbar-collapse {
    margin-right: 43px;
}
.site-header .navbar-collapse {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.site-header.active .navbar-collapse {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.mainmenu .navbar-nav li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}
.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #FFCB2F;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar {
    margin: 0;
}
.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000;
}
.menu-bg .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-bg .mainmenu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}
.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #FFCB2F;
}



@media only screen and (min-width: 767px) and (max-width: 991px) {
    .mainmenu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        padding: 20px 11px;
        font-size: 12px;
    }
    .nav-logo-wrap .logo img {
	    width: 70%
    }
}
@media only screen and (max-width: 767px) {
    .site-header .navbar-collapse {
        opacity: 1;
        visibility: visible;
    }
    .navbar-toggle .icon-bar {
        background: #FFCB2F;
    }
    .menu-bg .navbar-toggle .icon-bar {
        background: #FFCB2F;
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .mainmenu .navbar-nav li a:hover {
        color: #FFCB2F;
    }
    .menu-bg .mainmenu .navbar-nav li a:hover {
        color: #FFCB2F;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {
        margin-top: -53px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .menu-bg .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
}

/*====================
    Home
====================*/
.home{
	position: relative;
	width: 100%;
	height: 690px;
	background-image: url('../img/background_home.jpeg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.home:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
    background: #000;
	top: 0;
	left: 0;
	z-index: 99;
	opacity: 0.01;
	filter: alpha(Opacity=90);
}
.main_home_area {
    position: relative;
    top: 185px;
	text-align: center;
    z-index: 9999;
}
.main_home_area p {
    font-weight: 500;
    font-size: 20px;
	color: #666566;
    text-transform: uppercase;
}
.main_home_area ul li {
    display: inline-block;
    padding: 0 14px;
}
.main_home_area ul li i {
    font-size: 20px;
    color: #666566;
}
.main_home_area .btn-orange {
	position: relative;
    top: 14px;
}
.scroll-downs {
	position: absolute;
    right: 0;
    bottom: -120px;
    left: 0;
    margin: auto;
    
    width: 34px;
    height: 100px;
}
.scroll-downs:hover {
	cursor: pointer;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 55px;
  border: 2px solid #333;
  border-radius: 25px;
  opacity: 0.75;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #333;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


/*================
    About
================*/
.main_about_area {
	padding-top: 20px;
}
.main_about_area  .basic-info .person-title{
	margin-bottom:15px;
}
.main_about_area  .basic-info .bio-text{
    font-weight: 500;
    line-height: 24px;
    color: #646464;
}
.main_about_area  .basic-info .info-list a{
    cursor: pointer;
}
.main_about_area .basic-info .info-list li,
.main_about_area .basic-info .info-list a {
	color:#646464;
	font-weight:700;
}
.main_about_area  .basic-info .info-list li i{
	font-size: 24px;
	position: relative;
	top: 5px;
    color: #fea60e;
	margin-right:7px;
	line-height: 37px;
}
.about_photo{
	padding-top:0px;
	text-align:center;
}
.about_photo img {
	width: 300px;
}
.main_about_area .skills-info .title{
	margin-bottom:15px;
}
.main_about_area .skills-info .skill-text{
	margin-bottom:25px;
}
.main_about_area .skills-info .progress-bar-area{}
.main_about_area .skills-info .single-bar{
	margin-bottom:20px;
}
.main_about_area .skills-info .single-bar span{
	color:#282528;
}
.main_about_area .skills-info .single-bar .skill-info{
	overflow:hidden;
	margin-bottom:10px;
}
.main_about_area .skills-info .single-bar .skill-title{
	float:left;
}
.main_about_area .skills-info .single-bar .skill-percent{
	float:right;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.main_about_area .skills-info .single-bar .progress{
	height:6px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,.0);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.0);
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.0);
	margin-bottom:0px;
}
.main_about_area .skills-info .single-bar .progress .progress-bar{
	border-top-right-radius:20px;
	-moz-border-top-right-radius:20px;
	-webkit-border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	-moz-border-bottom-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
}
.main_about_area .skills-info .single-bar .progress {
    border: 1px solid #FEA60E;
}
.main_about_area .skills-info .single-bar .progress .progress-bar {
    background: #FEA60E;
}
.about_experience {
	padding-top: 55px;
}
.about_experience ul li {
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #646464;
	display: inline-block;
    padding: 0 30px;
    text-transform: uppercase;
}
.about_experience ul li span {
    font-family: 'Lato',sans-serif;
    font-weight: 300;
	font-size: 60px;
    display: block;
    color: #000;
}

/*================
    Label
================*/
.main_label_area {
    color: #fff;
	padding: 40px 0;
}
.main_label_area span {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    padding-right: 30px;
    text-transform: capitalize;
}
.main_label_area .btn-white {
    position: relative;
    top: -5px;
}

/*================
    Service
================*/
.service {
    background-color: #fff;
}
.main_service_area {
	padding: 0px 160px ;
}
.main_service_area .col-md-6:nth-child(1) {
    border-right: 2.15px solid #ad8c8c;
    padding-right: 0;
}
.main_service_area .col-md-6:nth-child(2) {
	padding-left: 0;
}
.main_service_area .col-md-6 .service_line {
	border-top: 2.15px solid #ad8c8c;
}
.main_service_area .col-md-6 .service_col {
	padding: 40px;
}
.main_service_area .col-md-6:nth-child(1) .service_col:nth-child(2) .service_icon span.icon:before {
    font-family: "linea-software-10" !important;
}
.main_service_area .col-md-6:nth-child(2) .service_col:nth-child(2) .service_icon span.icon:before {
    font-family: "linea-ecommerce-10" !important;
}
.main_service_area .col-md-6 .service_icon span {
    font-size: 4em;
    color: #666;
}
.main_service_area .col-md-6 .service_desc h4 {
    font-size: 20px;
    color: #000;
}
.main_service_area .col-md-6 .service_desc p {
    font-size: 10x
    color: #666;
}

@media only screen and (max-width: 767px) and (min-width: 991px) {
    .main_service_area  {
        padding: 0 70px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .main_service_area {
        padding: 0px ;
    }
    .main_service_area .col-md-6 .service_col {
        padding: 29px;
    }
}

/*================
    Portfolio
================*/
.portfolio .line-title:before {
    border-top: 3px solid #808080;
    content: "";
    display: block;
    position: absolute;
    left: 34%;
    margin-top: 20px;
    width: 50px;
}
.portfolio .line-title:after {
    border-bottom: 3px solid #808080;
    content: "";
    display: block;
    position: absolute;
    right: 34%;
    margin-top: -20px;
    width: 50px;
}